<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Food Project</title>
        <!-- Favicon-->
        <!-- <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />  -->
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link th:href="@{/css/FoodListStyles.css}" rel="stylesheet"/>
        <script type="text/javascript" src="@{/js/FoodListScripts.js}"></script>
    </head>
    <body>
        <!-- Navigation-->
        <th:block th:insert="~{/include/navigater}"></th:block>
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">음식 정보 모음</h1>
                    <p class="lead fw-normal text-white-50 mb-0">각종 음식 정보를 확인하세요</p>
                    <form method="get">  
	
						<select name="category" id="category" align="center">
							<option value="">카테고리 선택</option>
							<option value="저지방">저지방</option>
					        <option value="저염식">저염식</option>
					        <option value="저칼로리">저칼로리</option>
					        <option value="저당식품">저당음식</option>
						</select>
							            
						<input type="text" name="searchword" id="searchword" placeholder="이름으로 검색" />
						<!-- 
						<input type="hidden" name="category" th:value="${category}" />
    					<input type="hidden" name="searchword" th:value="${searchword}" />
						 -->
						<input type="submit" value="검색하기" />
				    </form>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    <th:block th:each="food : ${foodList}">
	                    <div class="col mb-5">
	                        <div class="card h-100">
	                            <!-- Sale badge-->
	                            <!--  <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Temporal</div>  -->
	                            <!-- Product image-->
	                            <img class="card-img-top" th:src="@{/image/food_images/} + ${food.fimg}" style="width:250px; height:200px;" alt="..." />
	                            <!-- Product details-->
	                            <div class="card-body p-4">
	                                <div class="text-center">
	                                    <!-- Product name-->
	                                    <h5 class="fw-bolder" th:text="${food.fname}"></h5>
	                                    <!-- Product reviews-->
	                                    <!-- <div class="d-flex justify-content-center small text-warning mb-2">
	                                        <div class="bi-star-fill"></div>
	                                        <div class="bi-star-fill"></div>
	                                        <div class="bi-star-fill"></div>
	                                        <div class="bi-star-fill"></div>
	                                        <div class="bi-star-fill"></div>
	                                    </div> -->
	                                    <!-- Product price-->
	                                    <!-- <span class="text-muted text-decoration-line-through">$20.00</span>
	                                    $18.00 -->
	                                </div>
	                            </div>
	                            <!-- Product actions-->
	                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
	                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" th:href="@{fooddetail(fuid=${food.fuid})}">상세정보</a></div>
	                            </div>
	                        </div>
	                    </div>
                    </th:block>
                </div>
            </div>
        </section>
        <div style="text-align: center;">
		    <th:block th:insert="~{/include/page_area}"></th:block>
		</div>

        <!-- Footer-->
        <th:block th:insert="~{/include/footer}"></th:block>  
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>


    </body>
</html>
