<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>아이디 중복 체크</title>
  <link href="CSS/subpage.css" rel="stylesheet">
  <style type="text/css">
    body{
      background-color:#B96DB5;
      font-family: Verdana;
    }
    #wrap{
      margin: 0 20px;
    }
    h1 {
      font-family: "Times New Roman", Times, serif;
      font-size: 45px;
      color: #CCC;
      font-weight: normal;
    }
    input[type=button], input[type=submit] {
      float: right;
    }
  </style>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <script type="text/javascript" th:inline="javascript">
    function idok(){
      var uid = $("#uid").val();
      opener.form.uid.value=uid;
      opener.form.reuid.value=uid;
      self.close();
    }
  </script>
</head>
<body>
<div id="wrap">
  <h1>ID 중복확인</h1>
  <form method=get name=form id="theform" style="margin-right:0 "
        action="id_check_form" >
    User ID <input type=text name="uid" id="uid" th:value="${uid}">
    <input type=submit value="검색" class="submit"><br>
    <div style="margin-top: 20px">
      <th:block th:if="${message == 1}">
        <script type="text/javascript">
          opener.document.form.id.value="";
        </script>
        [[${uid}]]는 이미 사용중인 아이디입니다.
      </th:block>
      <th:block th:if="${message==-1}">
        [[${uid}]]는 사용 가능한 ID입니다.
        <input type="button" value="사용" class="cancel" onclick="idok()">
      </th:block>
    </div>
  </form>
</div>
</body>
</html>